<div class="row">
  <div class="col-sm-4 col-md-3 col-lg-2 hidden-xs">
hey
  </div>
  <div class="col-sm-8 col-md-9 hidden-xs">
        <div class="item"> <%= render 'tvprice' %> </div>
      <div class="item"> <%= render 'tvsize' %> </div>
      <div class="item"> <%= render 'tvresolution' %> </div>
  </div>
  <div class="col-sm-8 col-md-9 visible-xs">
    <div class="owl-carousel" id="single-page">
      <div class="item"> <%= render 'tvprice' %>  </div>
      <div class="item"> <%= render 'tvsize' %> </div>
      <div class="item"> <%= render 'tvresolution' %> </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom visible-xs">
  <div class="container">

  </div>
</nav>





<script type="text/javascript">
  $(".owl-carousel").owlCarousel({

      navigation : true, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true,
      autoHeight : true,
      navigation : false,
      pagination : false

    });
</script>

