  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2 hidden-xs">
      <%= render 'sidebar' %>
    </div>
    <div class="col-sm-8 col-md-9 ">
      <div class="container">
        <%= render 'listing' %>
        <%= render 'listing' %>
        <%= render 'listing' %>
      </div>
    </div>
  </div>
  <nav class="navbar-fixed-bottom visible-xs">
    <%= render 'quickfilter' %>

  </nav>



  <script type="text/javascript">

    $(document).on('swipedown', '.content', function () {
      alert("swipedown..");
    });
    $(document).on('swipeup', '.content', function () {
      alert("swipeup..");
    });
  </script>
